
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_UserRegister.cshtml";
}
<div class="page-content">

    <div class="form-v10-content">
        <form class="form-detail" action="~/Customer/Login" method="post" id="myform">
            <div class="form-right">
                <h2>User Login</h2>
                @if (TempData["Message"] != null)
                {
                    <h4>@TempData["Message"]</h4>
                }
                <div class="form-group">
                    <div class="form-row form-row-1">
                        <input type="text" name="username" value="" id="username" placeholder="Enter Username" />

                    </div>
                    <div class="form-row form-row-2">
                        <input type="password" name="password" id="password" placeholder="Enter Password" />
                    </div>
                </div>


                <div class="form-row">
                    <input type="submit" name="register" class="register" value="Login">
                </div>
                <div class="form-row-last">
                    <p color="white" align="center">Not Have An Account? <a href="~/Customer/Registration">Click Here</a></p>&nbsp;
                </div>
            </div>
        </form>
    </div>

</div>